/* You can add global styles to this file, and also import other style files */
@import "~jsgantt-improved/dist/jsgantt.css";

.gmainleft{

    width: 20%;
    overflow-x: scroll;

}

.gmainright {
    width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
}

.gchartcontainer {
    width: 100%;
    overflow-x: scroll;
  }